.DS_Store
Thumbs.db

.tools/
.idea/
.vscode/
*.iml
*.so
coverage.*
go.work
go.work.sum

crosslink/internal/test_data/
!crosslink/internal/test_data/.placeholder

checkdoc/checkdoc
chloggen/chloggen
crosslink/crosslink
dbotconf/dbotconf
issuegenerator/issuegenerator
gotmpl/gotmpl
multimod/multimod
semconvgen/semconvgen
