.DS_Store
Thumbs.db

.tools/
.idea/
.vscode/
*.iml
*.so
coverage.*

crosslink/internal/test_data/

checkdoc/checkdoc
chloggen/chloggen
crosslink/crosslink
dbotconf/dbotconf
issuegenerator/issuegenerator
gotmpl/gotmpl
multimod/multimod
semconvgen/semconvgen
