.DS_Store
Thumbs.db

.tools/
.idea/
.vscode/
*.iml
*.so
coverage.*

checkdoc/checkdoc
chloggen/chloggen
crosslink/crosslink
dbotconf/dbotconf
gocp/gocp
issuegenerator/issuegenerator
multimod/multimod
semconvgen/semconvgen
