{{- define "entry" -}}
- `{{ .Component }}`: {{ .Note }} (
{{- range $i, $issue := .Issues }}
{{- if $i }}, {{ end -}}
[#{{ $issue }}](https://github.com/open-telemetry/opentelemetry-go-build-tools/issues/{{ $issue }})
{{- end -}}
)

{{- if .SubText }}
{{ .SubText | indent 2 }}
{{- end }}
{{- end }}

{{- define "section" -}}
{{- range $i, $entry := . }}
{{- if eq $i 0}}
{{ end }}
{{ template "entry" . }}
{{- end }}
{{- end }}
## {{ .Version }}

{{- if .BreakingChanges }}

### 🛑 Breaking changes 🛑

{{- template "section" .BreakingChanges }}
{{- end }}

{{- if .Deprecations }}

### 🚩 Deprecations 🚩

{{- template "section" .Deprecations }}
{{- end }}

{{- if .NewComponents }}

### 🚀 New components 🚀

{{- template "section" .NewComponents }}
{{- end }}

{{- if .Enhancements }}

### 💡 Enhancements 💡

{{- template "section" .Enhancements }}
{{- end }}

{{- if .BugFixes }}

### 🧰 Bug fixes 🧰

{{- template "section" .BugFixes }}
{{- end }}
