{{- define "issues" -}}
(
{{- range $i, $issue := .Issues }}
{{- if $i }}, {{ end -}}
#{{ $issue }}
{{- end -}}
)
{{- end }}
{{- define "entry" -}}
- `{{ .Component }}`: {{ .Note }} {{ template "issues" . }}

{{- if .SubText }}
{{ .SubText | indent 2 }}
{{- end }}
{{- end }}
{{- define "group" -}}
{{- if eq (len .Entries) 1 -}}
{{ template "entry" index .Entries 0 }}
{{- else -}}
- `{{ .Component }}`:
{{- range .Entries }}
  - {{ .Note }} {{ template "issues" . }}

{{- if .SubText }}
{{ .SubText | indent 4 }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}
## {{ .Version }}

{{- if .BreakingChanges }}

### 🛑 Breaking changes 🛑

{{- range $i, $group := $.Groups .BreakingChanges }}
{{- if eq $i 0}}
{{end}}
{{ template "group" $group }}
{{- end }}
{{- end }}

{{- if .Deprecations }}

### 🚩 Deprecations 🚩

{{- range $i, $group := $.Groups .Deprecations }}
{{- if eq $i 0}}
{{end}}
{{ template "group" $group }}
{{- end }}
{{- end }}

{{- if .NewComponents }}

### 🚀 New components 🚀

{{- range $i, $group := $.Groups .NewComponents }}
{{- if eq $i 0}}
{{end}}
{{ template "group" $group }}
{{- end }}
{{- end }}

{{- if .Enhancements }}

### 💡 Enhancements 💡

{{- range $i, $group := $.Groups .Enhancements }}
{{- if eq $i 0}}
{{end}}
{{ template "group" $group }}
{{- end }}
{{- end }}

{{- if .BugFixes }}

### 🧰 Bug fixes 🧰

{{- range $i, $group := $.Groups .BugFixes }}
{{- if eq $i 0}}
{{end}}
{{ template "group" $group }}
{{- end }}
{{- end }}
