# The directory that stores individual chlog files. Each chlog file represents
# a single changelog entry.
# - 'chloggen new' will copy the 'template_yaml' to this directory as a new chlog file.
# - 'chloggen validate' will validate that all chlog files are valid.
# - 'chloggen update' will read and delete all chlog files in this directory, and update 'changelog_md'.
# Specify as relative path from root of repo.
# (Optional) Default: .chloggen
# chlogs_dir:

# The CHANGELOG file to which 'chloggen update' will write new entries
# (Optional) Default: CHANGELOG.md
# changelog_md:

# This file is used as the input for individul changelog entries.
# Specify as relative path from root of repo.
# (Optional) Default: .chloggen/TEMPLATE.yaml
# template_yaml:
